/*----------------
 	General
----------------*/


/*подключаем шрифты Roboto*/
@import url('https://fonts.googleapis.com/css?family=socialicious');


/*
font-family: 'PT Sans', arial;
font-family: 'PT Sans Bold', arial;
font-family: 'PT Sans Caption Bold', arial;
*/

html, body, a, p, h1, h2, h3, h4, h5, h6, div, ul, li{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}




body{
	margin: auto;
    width:100vw;
    border: 0px solid red;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	overflow-x: hidden;
	opacity: 1;
/*
    background: url(../images/computer-1920-2.jpg) fixed,
  linear-gradient(to top, #5080b1, #004e8c) fixed;
    background-repeat: no-repeat;
*/
    font-family: 'Socialicious';
}






.jumbotron h1 a{
    color: orange;
    font-size: 40px;
    text-decoration: none;
    transition: 0.25s;
}

.jumbotron h1 a:hover{
    color: #7ac7ef;
    font-size: 40px;
    text-decoration: none;
    transition: 0.25s;
}

.jumbotron p{
    color: #547b91;
    text-decoration: none;
    transition: 0.25s;
}

.card{
    margin-bottom: 25px;
    opacity: 0.7;
    box-shadow: 0px 0px 20px #ddd;
    transition: 0.25s;
}

.card:hover{
    margin-bottom: 25px;
    opacity: 1;
    box-shadow: 0px 0px 60px #9f9f9f;
    transition: 0.25s;
}

.card h4{
    color: #777;
    font-size: 24px;
}

.card p{
    color: #9d9d9d;
    font-size: 12px;
}






/*----------------
 	media
----------------*//*


@media screen and (max-width: 960px){
    
    
}


@media screen and (max-width: 768px){
    

    
}


@media screen and (max-width: 320px){
    

    
}


























