/*----------------
 	General
----------------*/


/*подключаем шрифты Roboto*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&subset=cyrillic');


/*
font-family: 'PT Sans', arial;
font-family: 'PT Sans Bold', arial;
font-family: 'PT Sans Caption Bold', arial;
*/

html, body, a, p, h1, h2, h3, h4, h5, h6, div, ul, li{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}




body{
	margin: auto;
    width:100vw;
    border: 0px solid red;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	overflow-x: hidden;
	opacity: 1;
    background: url(../images/computer-1920-2.jpg) fixed,
  linear-gradient(to top, #5080b1, #004e8c) fixed;
    background-repeat: no-repeat;
}

.clear {
	clear: both;
}

.first{
    height: 200px;
    padding-top: 65px;
    text-align: center;
}

.first h1{
    color:cadetblue;
    font-family: fantasy;
    font-size: 52px;
}

.second{
    height: 2200px;
}

.header{
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header a{
    width: 205px;
    height: 255px;
    background: #ddd;
    margin: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: 0.3s;
    justify-content: center;
    align-content: center;
    align-items: center;
    color:cadetblue;
    font-family: fantasy;
    font-size: 18px;
    
}


a:hover{
    background: #5d5d5d;
    transition: 0.3s;
    color:#fff;
}

.row-items{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.col .item{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: stretch;
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background: red;
    color: #fff;
}





















































/*----------------
 	media
----------------*//*


@media screen and (max-width: 960px){
    
    
}


@media screen and (max-width: 768px){
    

    
}


@media screen and (max-width: 320px){
    

    
}


























