@import url('/fonts/roboto.css');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid #999;
}

body {
    background: #ddd;
    background-color: transparent;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.75;
    margin: 0;
    padding: 0;
    min-width: 320px;
}

.clear {
    clear: both;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px;
}
