
/*----------------
 	section3
----------------*/

.section3{
    width:100%;
}

.container3{
    margin: auto;
}

.BigImage{
    margin: auto;
    background: url('../images/girl02.jpg');
    background-size: cover;
    width:1100px;
    height:300px;
    overflow: hidden;
} 
    
.BigImageInner{
    width:850px;
    height:585px;
    background:#ef0000 ;
    -webkit-transform:translate(500px,-195px)rotate(-8deg);
        -ms-transform:translate(500px,-195px)rotate(-8deg);
            transform:translate(500px,-195px)rotate(-8deg);
}

.BigImageInnerNadpisi{
    float: left; 
    color:#fff;
    -webkit-transform:translate(30px,175px)rotate(4deg);
        -ms-transform:translate(30px,175px)rotate(4deg);
            transform:translate(30px,175px)rotate(4deg);
}

.BigImageInnerP_1{             /*ТОЛЬКО*/
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.BigImageInnerP_2{             /*25 26 27 ЯНВАРЯ*/
    font-size: 18px;
    font-weight: 400;
}

.BigImageInnerP_3{             /*СКИДКА*/
    font-size: 36px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: -100px;
}

.BigImageInnerP_4{             /*2000*/
    font-size: 140px;
    font-weight: 600;
    margin-top: -30px;
}

.BigImageInnerP_4 span{        /*грн*/
    font-size: 42px;
    font-weight: 600;
}

.BigImageInnerP_5{             /*Ко дню Татьяны*/
    font-size: 32px;
    font-weight: 400;
    margin-top: -30px;
}







.description{
    padding-top: 35px;
    width:85%;
    margin: auto;
    color:#092a5e;
    border:0px solid;
    text-align: left;
}

.description h2:nth-child(1){
    font-size: 22px;
    font-weight: 600;
}

.description h2:nth-child(2){
    padding-top: 35px;
    font-size: 26px;
    font-weight: 400;
}

.description h2:nth-child(3){
    padding-top: 35px;
    font-size: 22px;
    font-weight: 600;
}



/*----------------
 	section4
----------------*/

.section4{
    margin-top: 85px;
}

.section4 .listHeader{    
    text-align: left; 
    padding: 0px;
    margin-left: 0px;
    font-size: 18px;
    font-weight: 600;
    color:#092a5e;
}

.container4{
    width:80%;
    border:0px solid #ededed;
    border-radius: 20px;
    padding-bottom: 15px;
}

.listItem{
    width:98%;
    margin: auto;
    padding-top: 5px;
    
}

.listItemHeader{

    font-size: 22px;
    font-weight: 400;
    color:#092a5e;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height:65px;
    cursor:pointer;
    margin-top: 5px;
    margin-bottom: 0px;
    border-radius: 10px;
    -webkit-transition:0.25s;
    -o-transition:0.25s;
    transition:0.25s; 
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}

.listItemHeader:hover{
    padding-left: 20px;
    -webkit-transition:0.25s;
    -o-transition:0.25s;
    transition:0.25s;
    background: #eee;
}

.left{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.country{
    float: left;
    text-decoration: underline;
    font-size: 22px;
    margin-right:20px;
}

.promocod{
    color: #777;
    float: left;
    font-size: 18px;
    font-weight: 200;
    padding-top: 3px;
    margin-right:20px;
}

.cod{
    color: #777;
    float: left;
    font-size: 22px;
    font-weight: 400;
    padding-top: 0px;
    margin-right:20px;
}

.listItemHeader i{
    position:relative;
    top:0px;
    right:0px;
    float:right;
    padding-top: 0px;
    padding-right: 0px;
    -webkit-transition:0.25s;
    -o-transition:0.25s;
    transition:0.25s;   
    align-self: flex-start;
}

.fa-caret-down{
    color:#092a5e;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
}

.rotate90deg{
    -webkit-transition:0.25s;
    -o-transition:0.25s;
    transition:0.25s;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.listOfCities{
    border:1px solid #eee;
    border-radius: 10px;
    width:95%;
    margin-left: 15px;
}

.listItemUnder{
    width:95%;
    text-align: left;
    padding-left: 35px;
    border-bottom: 1px solid #eee;
    height:30px;
    font-size: 18px;
    font-weight: 200;
    color:#092a5e;
    padding-top: 3px;
    cursor: pointer;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.listItemUnder:hover{
    padding-left: 36px;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.listItemUnder:last-child{
    border-bottom: 0px solid #777;
}




/*----------------
 	media
----------------*/


@media screen and (max-width: 1100px){
    
.BigImage{
    margin: auto;
    background: url('../images/girl02.jpg') no-repeat;
    background-size: cover;
    width:90vw;
    height:30vw;
    overflow: hidden;
} 
    
.BigImageInner{
    width:850px;
    height:585px;
    background:#ef0000 ;
    -webkit-transform:translate(44vw,-195px)rotate(-8deg);
        -ms-transform:translate(44vw,-195px)rotate(-8deg);
            transform:translate(44vw,-195px)rotate(-8deg);
}

.BigImageInnerNadpisi{
    float: left; 
    color:#fff;
    -webkit-transform:translate(8vw,175px)rotate(4deg);
        -ms-transform:translate(8vw,175px)rotate(4deg);
            transform:translate(8vw,175px)rotate(4deg);
}

.BigImageInnerP_1{             /*ТОЛЬКО*/
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
}

.BigImageInnerP_2{             /*25 26 27 ЯНВАРЯ*/
    font-size: 12px;
    font-weight: 400;
}

.BigImageInnerP_3{             /*СКИДКА*/
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: -100px;
}

.BigImageInnerP_4{             /*2000*/
    font-size: 86px;
    font-weight: 600;
    margin-top: -10px;
}

.BigImageInnerP_4 span{        /*грн*/
    font-size: 28px;
    font-weight: 600;
}

.BigImageInnerP_5{             /*Ко дню Татьяны*/
    font-size: 22px;
    font-weight: 400;
    margin-top: -10px;
}
}


@media screen and (max-width: 790px){
    

.BigImageInnerP_1{             /*ТОЛЬКО*/
    font-size: 12px;
    font-weight: 400;
    margin-top: -10px;
}

    
.description{
    padding-top: 25px;
    width:85%;
    margin: auto;
    color:#092a5e;
    border:0px solid;
    text-align: left;
}

.description h2:nth-child(1){
    font-size: 18px;
    font-weight: 600;
}

.description h2:nth-child(2){
    padding-top: 22px;
    font-size: 26px;
    font-weight: 400;
}

.description h2:nth-child(3){
    padding-top: 20px;
    font-size: 22px;
    font-weight: 400;
}

    
}


@media screen and (max-width: 620px){
    

.BigImageInnerP_1{             /*ТОЛЬКО*/
    font-size: 12px;
    font-weight: 400;
    margin-top: -10px;
}

.BigImageInnerP_2{             /*25 26 27 ЯНВАРЯ*/
    font-size: 12px;
    font-weight: 400;
}

.BigImageInnerP_3{             /*СКИДКА*/
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: -100px;
}

.BigImageInnerP_4{             /*2000*/
    font-size: 38px;
    font-weight: 600;
    margin-top: -10px;
}

.BigImageInnerP_4 span{        /*грн*/
    font-size: 28px;
    font-weight: 600;
}

.BigImageInnerP_5{             /*Ко дню Татьяны*/
    font-size: 18px;
    font-weight: 400;
    margin-top: -10px;
}

.country{
    font-size: 20px;
}

.promocod{
    font-size: 16px;
    font-weight: 200;
    padding-top: 3px;
}

.cod{
    font-size: 16px;
    font-weight: 400;
    padding-top: 3px;
}    
}



@media screen and (max-width: 420px){
    

.BigImageInnerP_1{             /*ТОЛЬКО*/
    font-size: 10px;
    font-weight: 400;
    margin-top: -10px;
}

.BigImageInnerP_2{             /*25 26 27 ЯНВАРЯ*/
    font-size: 10px;
    font-weight: 400;
}

.BigImageInnerP_3{             /*СКИДКА*/
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: -100px;
}

.BigImageInnerP_4{             /*2000*/
    font-size: 22px;
    font-weight: 600;
    margin-top: 0px;
}

.BigImageInnerP_4 span{        /*грн*/
    font-size: 16px;
    font-weight: 600;
}

.BigImageInnerP_5{             /*Ко дню Татьяны*/
    font-size: 12px;
    font-weight: 400;
    margin-top: 0px;
}
  
.description{
    padding-top: 25px;
    width:85%;
    margin: auto;
    color:#092a5e;
    border:0px solid;
    text-align: left;
}

.description h2:nth-child(1){
    font-size: 14px;
    font-weight: 600;
}

.description h2:nth-child(2){
    padding-top: 12px;
    font-size: 16px;
    font-weight: 400;
}

.description h2:nth-child(3){
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
}
    
.country{
    font-size: 16px;
}

.promocod{
    font-size: 14px;
    font-weight: 200;
    padding-top: 3px;
}

.cod{
    font-size: 12px;
    font-weight: 400;
    padding-top: 3px;
}      
    
}